.main {
  min-height: 100vh;
}

.banner {
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-primary);
  border-radius: 0 0 50px 50px;
  padding: 5rem 0;
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.content {
  display: flex;
  justify-content: end;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem;
}

.leftFilter {
  max-width: 10rem;
  padding: 0 2rem;
}

.program {
  box-shadow: 0 0 4px #00000080;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: clamp(160px, 30vw + 30px, 400px);
  gap: 0.25rem;
}

.meta {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.25rem;
  font-size: smaller;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.75rem;

  font-size: 0.7rem;
}

.flex > span {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
}

.meta h5 {
  font-size: clamp(0.7rem, 2vw, 1.1rem);
  font-weight: 600;
  line-height: 1.2;

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.meta h6 {
  font-size: clamp(0.3rem, 1.5vw, 0.7rem);
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.75;
}

.meta h6:last-child {
  font-size: clamp(0.4rem, 1vw, 0.6rem);
}

.programCost {
  position: absolute;
  top: 0;
  right: 0;

  padding: 0.25rem 0.5rem;
  margin: 0.1rem;
  background-color: dodgerblue;
  color: white;
  font-weight: 500;
  border-radius: 5px;

  font-size: clamp(0.5rem, 2.5vw, 3.5rem);
}

/* @media (max-width: 620px) {
  .programCost {
    font-size: small;
  }
} */
