.card {
  width: 200px;
  height: 250px;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  position: relative;
}

.imageContainer {
  width: 200px;
  height: 200px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;

  font-size: small;
}

.info > * {
  color: white;
  margin: 0;
  padding: 0;
}

.info > p {
  text-decoration: underline;
}

.shadow {
  box-shadow: 1px 2px 5px black;
}

.hangingCost {
  position: absolute;
  right: 0;
  font-weight: bold;
  padding: 0.2rem 1rem;
  
  color: white;
  background-color: dodgerblue;
  border-radius: 5px;
}

.box {
  box-shadow: 0 0 0 2px #00000080;
  background-color: white;
}

.details {
  background-color: white;
}

@media (min-width: 576px) {
  .card {
    width: 400px;
    height: 450px;
  }

  .imageContainer {
    width: 400px;
    height: 400px;
  }
  
  .info {
    gap: 10rem;
    font-size: initial;
  }
}