.carouselContainer {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  padding: 0 0.2rem;

  min-width: 0;
  min-height: 0;

  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.carousel {
  padding-bottom: 4rem;
}
