.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.content {
  min-height: 400px;
}

.controls{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  max-width: 90%;
  gap: 0.4rem;
}

.button {
  padding: 0.5rem 1rem;
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
  font-weight: bold;

  box-shadow: 1px 2px 5px #00000080;
  border-bottom: 4px solid #00000080;

  transition: all 0.2s;
}

.active {
  border-bottom: 4px solid var(--color-primary);
}

@media (max-width: 576px) {
  .button {
    font-size: smaller;
  }
}