.footer {
  background-color: var(--color-primary);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  user-select: none;
}

@media (max-width: 572px) {
  .footer {
    font-size: small;
    height: 100px;
  }
}