.searchWrap {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 1.5rem;
}

.search {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: white;
  width: 300px;
  border-radius: 0.25rem;
  border-bottom: 2px solid var(--color-primary);
}

.search input {
  width: 100%;
  padding: 0.2rem;
  border: 1px solid #00000080;
  border-left: 2px solid var(--color-primary);
}

.resultName {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;

  overflow: hidden;
}

.resultMod {
  opacity: 0.5;
}

.dropdown {
  position: absolute;
  top:99%;
  right: 0;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 1px 1px 5px #00000080;
}

.group-title {
  padding: 0.4rem;
  font-weight: 600;
  background: #f5f5f5;
  text-align: center;
}

.item {
  padding: 0.5rem;
  cursor: pointer;
  text-align: left;
}

.item.active,
.item:hover {
  background: #eef2ff;
}

mark {
  background: #fde68a;
}

.view-all {
  padding: 0.6rem;
  text-align: center;
  font-weight: 600;
  color: #2563eb;
}


@media (min-width: 572px) {
  .search {
    width: 450px;
  }
}