:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-primary: #004a92;
  --color-secondary: #cc0000;
}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow: auto;
}

body {
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper-slide {
  width: auto !important;
  transition: transform 0.3s ease;
  transform: scale(0.85) !important;
}


.swiper-slide-active {
  transform: scale(1) !important;
  z-index: 10;
}